@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Princess+Sofia|Redressed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');
.title-1 {
  font-family: 'Almendra';
}

.title-2 {
  text-align: center;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.card {
  border: 2px solid rgb(25, 25, 59);
  border-radius: 4px;
  margin: 10px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  width: 300px;
  margin: auto;
}

#buttons button {
  margin: 5px;
}

#monsterSearch {
  padding-bottom: 100px;
  overflow: auto;
  text-align: center
}

#monsterSearch input {
  width: 200px;
  height: 38px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 14px;
}

.searchbutton {
  width: 10px;
  margin-left: 20px;
}