@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

.title-1 {
  font-family: 'Cinzel Decorative';
}

.title-2 {
  text-align: center;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}