.createCharacter {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label2 {
  margin-left: 6%;
  font-size: calc(68% + 0.7vw);
}

#avatarSelectText {
  margin-top: 5%;
  font-size: calc(80% + 0.8vw);
  text-align: center;
}

.statHeaderCreateChar {
  font-size: calc(60% + 0.9vw);
}

.createCharacter form {
  margin: 0 auto;
  max-width: 320px;
}

.title {
  text-align: center;
  font-size: calc(150% + 1.2vw);
}

.characterForm {
  width: 100%;
}

.input2 {
  margin-left: auto;
  margin-right: auto;
}

.image_picker {
  width: 70%;
}

/* @media print, screen and (min-width: 1088px) {
  .image_picker {
    max-width: 85%;
    margin-left: -25%;
  }
}

@media print, screen and (min-width: 1280px) {
  .image_picker {
    max-width: 70%;
    margin-left: -18%;
  }
} */
