.createCharacter {
  padding: 60px 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.createCharacter form {
  margin: 0 auto;
  max-width: 320px;
}

.title {
  text-align: center;
}

.input {
    max-width: 90%;
}
