.init-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media print, screen and (min-width: 320px) {
  .styles_Editext__input__1534X {
    max-width: 55px;
  }
  .card-content {
    padding: .5rem;
  }
}