.init-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 20px 5px red;
  }

  to {
    box-shadow: none;
  }
}

.init-blinking {
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character-names {
  font-size: calc(170% + 1.3vw);
}

#monsterInitHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  font-size: calc(100% + 0.7vw);
}

@media print,
screen and (min-width: 320px) {
  .styles_Editext__input__1534X {
    max-width: 550px;
  }

  .card-content {
    padding: 0.5rem;
  }

  .init-field-columns {
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
  }
}