.createGame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.createGame form {
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.title {
  text-align: center;
}

/* .gameTitle {
  font-size: calc(250% + 1vw);
} */

.createGameHeader {
  font-size: calc(100% + 1.2vw);
  text-align: center;
}

@media screen and (min-width: 300px) {
  .login-container {
    margin: 0 auto;
    position: relative;
  }
  #name {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    /* width: 100%; */
  }
}

@media screen and (min-width: 1088px) {
  #name,
  .createGameHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 31%;
  }
}
