#buttons,
#npcButton {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  width: 200px;
}

#buttons {
  margin-top: 2%;
}

#buttons button {
  margin: 5px;
}

#npcButton {
  margin-bottom: 2%;
}

#npcContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin-right: auto;
  margin-left: auto;
}