#buttons2,
#npcButton {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  width: 200px;
}

#buttons2 {
  margin-top: 2%;
}

#buttons2 button {
  margin: 5px;
}

#npcButton {
  margin-bottom: 2%;
}

#monsterSearchButton {
  background-color: #BD452A;
}

#monsterSearchButton:hover {
  background-color: #CD4A2D;
}

/* .mybutton:hover {
  background-color: #8F7D5E;
  color: white
} */

#bottomPadding {
  margin-bottom: 5%;
  border-top: 1px solid black;
}

#npcContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#monsterSearch {
  font-family: "Nodesto";
  font-size: calc(170% + 1.4vw);
  text-decoration: underline;
}

#MonsterSearchHeader {
}

.column {
  margin-right: auto;
  margin-left: auto;
}
