/* .Login {
  padding: 60px 0;
} */

.Login form {
  /* margin: 0 auto; */
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

@media screen and (min-width: 300px) {
  .login-container {
    margin: 0 auto;
    position: relative;
  }
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 40%;
  }
}
@media screen and (max-width: 1087px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 100%;
  }
}
