.Login {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.Login form {
  /* margin: 0 auto; */
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  padding-top: 0;
}

#passwordInput {
  margin-bottom: 5%;
}

.loginTitle {
  font-size: calc(120% + 3vw);

}

#buttons2 {
  width: auto;
}

.title {
  text-align: center;
  padding-top: 3%;
}

@media screen and (min-width: 300px) {
  .login-container {
    margin: 0 auto;
    position: relative;
  }
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 40%;
  }
}
@media screen and (max-width: 1088px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1088px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 31%;
  }
}

@media screen and (min-width: 1280px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 26%;
  }
}

@media screen and (min-width: 1472px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 22.5%;
  }
}
