.Login {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.Login form {
  /* margin: 0 auto; */
  width: 100%;
  /* max-width: 75%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

label.label {
  /* font-size: calc(168% + 1vw); */
  text-align: center;
  margin: 0;
}

/* .loginForm {

} */

#button {
  width: auto;
}


.mybutton-secondary {
  width: 50%;
}

.title {
  text-align: center;
  padding-top: 3%;
}

#buttons {
  width: 300px;
}

@media screen and (min-width: 300px) {
  .login-container {
    margin: 0 auto;
    position: relative;
  }
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 65%;
  }
}

@media screen and (min-width: 520px) {
  #email,
  #password {
    display: block;
    margin-right: auto;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  #email,
  #password {
    display: block;
    margin-right: auto;
    width: 30%;
  }
}

@media screen and (min-width: 1088px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 33%;
  }
}

@media screen and (min-width: 1280px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 26%;
  }
}

@media screen and (min-width: 1472px) {
  #email,
  #password {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    width: 22.5%;
  }
}
